html,body{
    height:100%;
    margin:auto;
    width: 500px;
}
body { 
    font-family: 'Basic', sans-serif;
    width: 95%;
    background:white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding:0;
    width:100%;
    font-size:3.0vw;
}
.settings {
    display:flex;
    align-items:center;
    cursor: pointer;
    justify-content:space-between;
}
.settings label:first-child {
    width: 12em;
    cursor: pointer;
}

.settings:hover {
label {
    color: #f00 !important;
}
}

.checkboxes{
    display:flex;
    flex-direction:column;
}
.checkboxes > * {
    margin-bottom: 1.35em;
}
.slider 
{
    width: 35%;
    font-size: 0.5em;
    background: transparent;
    float:right;
}
.slider:focus 
{
    outline: none;
}
.slider::-moz-range-thumb 
{
    height: 1.9em;
    width: 0.8em;
    border-radius: 8px;
    border: 0.3em solid black;
}
.slider::-moz-range-track 
{
    width: 100%;
    height: 0.6em;
    cursor: pointer;
    border-radius: 1em;
}
.sliderLabel 
{
    position:absolute;
    right:35vw;
    font-size:1.7em;
    font-family: Basic, sans-serif;
}
button 
{
    padding: 0.35em 1em;
    cursor: pointer;
    font-family:"Basic";
    border-radius: 5px;
    transition: background-color 0.1s ease-out;
    color:black;
    background-color: #eee;
    border: 0.32vw solid black;
}
button:hover 
{
    color: white;
    background-color: black;
}
button.remove 
{
    padding: 0.4em 0.8em;
    word-break: keep-all;
}
textarea {
    width: 100%;
    font-size: 16px;
    font-family: Monospace, mono;
    color:black;
    background-color:white;
}
table { 
    border-collapse:collapse;
    margin: 0;
    padding: 0; 
    width: 100%; 
    table-layout:auto;
    word-break:break-all;
    overflow:scroll;
}
table th:nth-child(1) { /*URL*/
    font-size: 0.9em;
    width: 90%;
    word-break: keep-all; 
    text-align: left 
}
table th:nth-child(2) {
    font-size: 0.9em;
    width: 10%;
    word-break: keep-all; 
    text-align: center;
}
#whitelist td:nth-child(2) {
    font-family: Basic, sans-serif;
    text-align: center;
    position:relative;
    font-size:1.7em;
}
th {
    font-size: 0.75em;
    font-family:Basic; 
}
tr { 
    font-family:Basic;
    font-size: 1em;
    overflow-wrap:break-word ;
    transition: background-color ease-out 0.1s;
}
tr:hover { 
    background-color: #e6e6e6;
}
.scrolltable { 
    margin-top: 1.2em;
    height: 10em;
    overflow: auto; 
}
.scrolltable th div { 
    position: absolute;
}
#header, #BLheader {
    background-color: #e6e6e6;
    text-align:left;
}
.message {
    display: inline-block;
    height: 0;
    font-size: 0.9em;
    font-style: italic;
    padding-top: 0.35em;
    padding-bottom: 0.25em;
    transition: background-color ease-out 0.1s;
    color: black
}
::placeholder {
    color: navy;
    opacity: 1;
    font-size:0.9em
}

input[type='checkbox'] {
	height: 0;
	width: 0;
	visibility: hidden;
}
.container {
	cursor: pointer;
	width: 32px;
	height: 18px;
	background-color: var(--check_bg);
	color: var(--check_bg);
	display: block;
	border-radius: 18px;
	position: relative;
	margin-top: 5px;
	float: right;
}
input:checked ~ .checkmark:after {
	margin-left: 10px;
}
.checkmark:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 16px;
	background-color: var(--check_bg);
	color: var(--check_bg);
	border-radius: 17px;
	border: 1px solid  #000;
	background-image:url('../../assets/icons/circle.svg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 16px 16px;
}
input:checked ~ .checkmark:after {
	position: absolute;
	background-image:url('../../assets/icons/circle2.svg');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 14px 0px;
	background-color: var(--check_color);
	border-radius: 17px;
	border: 1px solid  var(--check_color);
	color: #000;
	width: 30px;
	height: 16px;
	left: -10px;
	top: 0px;
}

.settings
{
    display:flex;
    flex-direction: row;
    position:relative;
}
.help-tip 
{
    position:absolute;
    left: 13em;
    margin-top: 4px;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    width: 1.1em;
    height: 1.1em;
    font-size: 16px;
    line-height: 1.6em;
    cursor: default;
}
/*
#strTip{
    left: 10.5vw;
}
#sizeTip {
    left: 18.5vw;
}
#thrTip {
    left: 20.5vw;
}
#defaultEnTip{
    left: 27vw;
}
#skipTip{
    left: 19.5vw;
}
#skipHdnTip{
    left: 16vw;
}
#advTip{
    left: 22vw;
}
#smoothTip {
    left: 21.5vw;
}
#boldTip {
    left: 11vw;
}
#plhdlrTip {
    left: 30.5vw;
}
*/
.help-tip:before{
    content:'?';
    color:#fff;
    position:absolute;
    top: -0.3em;
    left: 0.4em;
}
.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    animation: fadeIn 0.3s ease-in-out;
}
.help-tip p{
    display: none;
    text-align: left;
    background-color: rgb(0, 0,0);
    padding: 17px;
    width: 200px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    left: -100px;
    color: #FFF;
    font-size: 15px;
    line-height: 20px;
    z-index: 1;
}
.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    left:10px;
    top:-12px;
}

@media (prefers-color-scheme: dark) {
.checkmark:after {
	border: 1px solid  #fff;
}
}

@media (prefers-color-scheme: light) {
.checkmark:after {
	background-image:url('../../assets/icons/circle2.svg');
}
input:checked ~ .checkmark:after {
	background-image:url('../../assets/icons/circle.svg');
}
}
/* Prevents the tooltip from being hidden */
/*
.help-tip p:after{ 
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}*/
